<% if @portfolio.empty? %>
    <p>Portfolio is empty</p>
<% else %>
    <h1>Acquired Stocks</h1>
    <table class = "home_table table m-auto text-center align-middle">
        <thead>
            <tr>
            <th>ACQUIRED DATE</th>
            <th>SYMBOL</th>
            <th>NAME</th>
            <th>VOLUME</th>
            <th>BUY PRICE</th>
            <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            <% @portfolio.each do |e| %>
                <tr>
                    <td>
                        <%= e.created_at %>
                    </td>
                    <td>
                        <%= e.symbol %>
                    </td>
                    <td>
                        <%= e.stock_name %>
                    </td>
                    <td>
                        <%= number_with_delimiter(e.shares, :delimiter => ',') %>
                    </td>
                    <td>
                        <%= number_to_currency(e.price, :unit => "$", :delimiter => ',') %>
                    </td>
                    <td>
                        <a href="/portfolios/<%= e.id %>/edit" class="btn btn-primary m-1">Sell</a>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
<br/>
<h1>Purchasable Stocks</h1>
<table class = "home_table table m-auto text-center align-middle">
    <thead>
        <tr>
            <th>SYMBOL</th>
            <th>NAME</th>
            <th>VOLUME</th>
            <th>PRICE</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <% @stocklist_view.each do |e| %>
            <tr>
            <td>
                <%= e.symbol %>
            </td>
            <td>
                <%= e.company_name %>
            </td>
            <td>
                <%= number_with_delimiter(e.avg_total_volume, :delimiter => ',') %>
            </td>
            <td>
                <%= number_to_currency(e.latest_price, :unit => "$") %>
            </td>
            <td>
                <a href="/buy/<%= e.symbol %>" class="btn btn-primary m-1">Buy</a>
            </td>
            </tr>
        <% end %>
    </tbody>
</table>